/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.menu{
	-fx-background-color: #0267C2;
	-fx-background-radius: 85px;
}

.button_menu{
	-fx-min-height: 67px;
	-fx-min-width: 432px;
	-fx-background-color: transparent; 
    -fx-background-image: url("../../assets/ButtonMenuInactiveNew.png");
    -fx-background-size: cover;
}

.button_menu:hover{
    -fx-background-image: url("../../assets/ButtonMenuActiveNew.png");
}